docs/
.github/
example-output/
audio/
src/models/
deepspeech-0.6.0-models.tar.gz
audio-0.4.1.tar.gz
models.tar.gz

deepspeech-0.6.0-models/
deepspeech-0.6.1-models/

src/model_tensorflow_it
src/models_0.9.3
model_tensorflow_it.tar.xz
model_tflite_it.tar.xz  

# TODO: should ignore .json example and example-usage.js files